<div class="row">
    <div class="col-sm-12 col-md-3 bg-dark">
        
        <div class="card-body">
            {{> admin/sidebar}}
        </div>
    </div>

    <!--Aquí va el contenido-->

    <div class="col-sm-12 col-md-9 content">
        <div class="card-head">
            <br>
            <h1><i class="fa fa-address-card"></i>  Dojos</h1>
        </div>
        <div class="card-body">
            <hr>
            <h3>Listado de dojos activos</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">RIF</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Fundación</th>
                        <th scope="col">Correo electrónico</th>
                        <th scope="col">Responsable</th>
                        <th scope="col">Artes Marciales</th>
                        <th scope="col">    </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each activeDojos}}
                            <tr>
                                <th scope="row"> {{DojoName}} </th>
                                <td> {{DojoRIF}} </td>
                                <td> {{DojoAddress}} </td>
                                <td> {{DojoFoundation}} </td>
                                <td> {{DojoEmail}} </td>
                                <td> {{FounderName}} </td>
                                <td> {{artes}} </td>
                                <td class="d-flex justify-content-between align-items-center"> <!--En caso de no funcionar esto, cambiar. Lo mismo para abajo.-->
                                    <form action="/dojo/insolvencia/{{_id}}?_method=PUT" method="POST">
                                        <input type="hidden" name="_method" value="PUT">
                                        <button type="submit" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></button>
                                    </form>
                                    <form action="/dojo/delete/{{_id}}?_method=DELETE" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button> 
                                    </form>
                                </td>
                            </tr>
                        {{else}}
                            <tr>
                                <th scope="row" colspan="7" >
                                No hay dojos registrados aún.
                                </th>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <br>
            <hr>
            <br>


            <!--Pasar a otro lado-->
            <h3>Listado de dojos insolventes</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">RIF</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Fundación</th>
                            <th scope="col">Correo electrónico</th>
                            <th scope="col">Responsable</th>
                            <th scope="col">Artes Marciales</th>
                            <th scope="col">    </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each inactiveDojos}}
                            <tr>
                                <th scope="row"> {{DojoName}} </th>
                                <td> {{DojoRIF}} </td>
                                <td> {{DojoAddress}} </td>
                                <td> {{DojoFoundation}} </td>
                                <td> {{DojoEmail}} </td>
                                <td> {{FounderName}} </td>
                                <td> {{artes}} </td>
                                <td class="d-flex justify-content-between align-items-center">
                                    <form action="/dojo/solvencia/{{_id}}?_method=PUT" method="POST">
                                        <input type="hidden" name="_method" value="PUT">
                                        <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-edit"></i></button>
                                    </form>
                                    <form action="/dojo/delete/{{_id}}?_method=DELETE" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button> 
                                    </form>
                                </td>
                            </tr>
                        {{else}}
                            <tr>
                                <th scope="row" colspan="7" >
                                No hay dojos insolventes.
                                </th>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>